﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <td>"Login failed"</td>
            </tr>
        </table>
    </div>
</body>
</html>
